#Qualities{
    border: 11px solid black;
    filter: drop-shadow(16px 16px 20px rgb(10,10,10));
}

#Qualities img{
    filter: blur(2px) grayscale();
}

#grayscale{
    filter: grayscale();
    border: 11px solid black;
}

#container{
    position:relative;
    width: 100%;
    height: auto;
}

.centered{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: auto;
    min-height: 35rem;
}

.centered h1 {
  font-family: 'Varela Round';
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.centered h2 {
  max-width: 20rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .centered h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .centered{
    height: 100vh;
    padding: 0;
  }
  .centered h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .centered h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

